// css variables 

$primaryBodyColor: black;
$primaryFontSize: 14px; 
$primaryFontFamily: "Roboto";
$primaryButtonFontColor: #ffffff;
$buttonFontSize: 16px;
$buttonBorderRadius: 4px;
$buttonBackgroundColor: #2196f3;
$buttonHoverColor: #188ce8;
$serviceCardBackgroundColor: rgba(47, 48, 58, 0.8);
$headerHoverColor: #2196f3;
$primaryContactsColor: #757575;
$logoFontFamily: "Raleway";
$logoFontSize: 26px;
$logoFontWeight: 700;

